.App {
    font-family: sans-serif;
    text-align: center;
  }
  #reload_href{
    font-family: "IRANSans";
    text-align: center;   
  }

  nav{
  font-family: "IRANSans";
  font-size: "17px" 
  }
